/* 전체 컨테이너 */
.translation-container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
}

/* 메인 콘텐츠 스타일 */
.main-content {
  background-image: url("../../../../public/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.translation-box {
  display: flex;
  /* Flexbox로 설정 */
  gap: 10px;
  /* 요소 간의 간격을 10px로 설정 */
  width: 1000px;
  height: auto;
  /* 높이를 자동으로 조정 */
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.data-source-language {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 465px;
  height: 40px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.left-items {
  display: flex;
  gap: 5px;
  align-items: center;
}

.right-items {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dropdown-toggle-button {
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-icon {
  width: 20px;
  height: 20px;
  color: #333;
  transition: transform 0.3s ease;
}

@keyframes rotate-svg {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.dropdown-icon.clicked {
  animation: rotate-svg 0.3s forwards;
}

.dropdown-toggle-button:hover .dropdown-icon {
  color: #2ec4b6;
  
}

.dropdown-toggle-button.active .dropdown-icon {
  transform: rotate(180deg);
  /* 드롭다운이 열릴 때 아이콘 회전 */
}


.language-dropdown {
  position: absolute;
  top: 60%;
  left: 0;
  width: max-content;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  list-style: none;
  padding: 0;
}

.language-option {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.language-option:hover {
  background-color: #f0f0f0;
}

.data-source-language-button {
  width: 65px;
  background-color: #fff;
  color: #0c0c0e;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  padding: 5px 0;
  text-align: center;
}

.data-source-language-button:hover {
  color: #2ec4b6;
}

.before-translation,
.translation-result {
  flex: 1;
  /* 각 요소가 동일한 비율로 공간을 차지 */
  height: 300px;
  /* 고정된 높이 설정 */
}

.before-translation {
  position: relative;
  /* 내부 요소의 절대 위치를 설정하기 위한 기준 */
  border: #ccc 1px solid;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* 내부 요소를 세로로 정렬 */
}

/* 텍스트 영역 스타일 */
textarea {
  width: 95%;
  height: 200px;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: none;
  resize: none;
  outline: none;
  /* 클릭했을 때 테두리를 제거 */
  box-shadow: none;
  /* 브라우저 기본 그림자 제거 */
}

/* 번역 결과 스타일 */
.translation-result {
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
  padding: 10px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  text-align: left;
  white-space: pre-wrap;
}

/* 버튼 스타일 */
.translation-button {
  position: absolute;
  /* 버튼을 절대 위치로 설정 */
  bottom: 10px;
  /* 아래쪽 여백 */
  right: 10px;
  /* 오른쪽 여백 */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #2ec4b6;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.translation-button:hover {
  background-color: #28b2a5;
  /* 호버 효과 */
  color: white;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* 에러 메시지 스타일 */
.error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.reverse-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.reverse-icon:hover {
  transform: scale(1.2);
}


.glossary-button {
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 10px;
  color: #fff;
  background-color: #2ec4b6;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.glossary-button:hover {
  background-color: #28b2a5;
}


.glossary-box h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.glossary-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  z-index: 1000;
  top: 60%;
  right: 0;
  margin-top: 10px;
  padding: 20px;
  background-color: #3c3c3c;
  color: #fff;
  border: #787878 10px solid;
  border-radius: 10px;
  width: 800px;
  text-align: left;
}


.glossary-list {
  width: calc(100% - 15px);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 5px solid white;
}

.glossary-category {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.glossary-category svg {
  margin-left: 5px;
  cursor: pointer;
  color: #fff;
}

.glossary-category:hover,
.glossary-category svg:hover {
  cursor: pointer;
  color: #2ec4b6;
}

.glossary-category .dropdown-icon {
  transition: transform 0.3s ease; /* 회전 애니메이션 추가 */
}

.glossary-category .dropdown-icon.rotated {
  transform: rotate(180deg); /* 180도 회전 */
}

.glossary-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  color: #333;
  border-bottom: 1px solid #333;
  font-weight: bolder;
}

.glossary-item:hover {
  cursor: pointer;
  background-color: #ddd;
}

.glossary-item:last-child {
  border-bottom: none
}

.glossary-buttons {
  display: flex; 
  margin-left: auto;
}

.glossary-edit-button,
.glossary-delete-button {
  background-color: #2ec4b6;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.glossary-edit-button:hover,
.glossary-delete-button:hover {
  background-color: #28b2a5;
}



.creat-glossary {
  font-size: 16px;
  color: #fff;
  background-color: #2ec4b6;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  padding: 10px;
}

.creat-glossary:hover {
  background-color: #28b2a5;
}

.save-word {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.start-text,
.arrive-text {
  width: calc(50% - 40px);
  height: 20px;
  padding: 10px;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  font-weight: bolder;
  margin-bottom: 10px;
  resize: none;
  overflow: hidden;
  white-space: nowrap;
}

.add-term-button {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border: none;
  color: white;
  border-radius: 10px;
}

.add-term-button:disabled {
  background-color: #ccc;
  cursor: default;
}

.add-term-button:not(:disabled) {

  background-color: #007BFF;
  cursor: pointer;
}

.add-term-button:not(:disabled):hover {
  background-color: #0056b3;
}

.word-list {
  width: 100%;
}

.word-item {
  display: flex;
  flex-direction: column;
  /* 세로 정렬 */
  margin-top: 10px;
  margin-bottom: 15px;
}

.word-item-language {
  text-align: left;
  font-size: 16px;
}

.word-item-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.start-word,
.arrive-word {
  width: calc(50% - 40px);
  height: 20px;
  padding: 10px;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  margin-bottom: 10px;
  resize: none;
  overflow: hidden;
  white-space: nowrap;
}

.word-edit-button,
.word-delete-button {
  background-color: #007BFF;
  width: 47px;
  height: 40px;
  border: none;
  color: white;
  border-radius: 10px;
}

.word-edit-button:hover,
.word-delete-button:hover {
  background-color: #0056b3;
}