/* 푸터 스타일 */
.footer {
  background-color: #0c0c0e;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 0;
  color: white;
  text-align: center;
}
