/* 헤더 스타일 */
.header {
  background-color: #0c0c0e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #333;
}

.header .left-text {
  font-size: 16px;
  color: #ccc;
}

.header .title {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header .title::before,
.header .title::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: white;
}

.header .right-icons {
  display: flex;
  align-items: center;
  gap: 15px; /* 버튼과 이미지를 구분 */
}

/* 계정 및 로그아웃 버튼 스타일 */
.header .auth-buttons {
  display: flex;
  gap: 10px; /* 계정과 로그아웃 버튼 간격 */
}

.header .auth-buttons .account-button ,
.header .auth-buttons .logout-button ,
.header .login{
  font-size: 17px;
  color: white;
  cursor: pointer;
}

/* 버튼 호버 효과 */
.header .auth-buttons .account-button:hover ,
.header .auth-buttons .logout-button:hover,
.header .login:hover {
  text-decoration: underline;
}
/* 로그인 버튼 */


/* 오른쪽 이미지 */
.header .right-icons img {
  width: 140px;
  height: 40px;
}
