.my-page {
    padding: 20px;
    background-color: #282828;
    color: #fff;
    font-family: Arial, sans-serif;
    min-height: 950px;
}

.page-title {
    font-size: 32px;
    margin-bottom: 10px;
}

.tab-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    /* 블록 요소로 변경 */
    margin: 20px auto 0;
    /* 상단 20px 간격, 좌우 가운데 정렬 */
    text-align: center;
}

.section {
    background-color: #f5f5f5;
    color: #0c0c0e;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    /* 기본적으로 세로 배치 */
    gap: 10px;
    /* 요소 간격 10px */
}

.section h2 {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.section p {
    display: flex;
    justify-content: space-between;
    /* 텍스트와 버튼을 양쪽으로 배치 */
    align-items: center;
    /* 세로 중앙 정렬 */
}

.buttons {
    display: flex;
    gap: 10px;
}

.change-button,
.attach-button,
.compare-button {
    background-color: #20A396;
    /* 색상 통일 */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.compare-button {
    width: 100px;
    /* 너비 지정 */
    height: 40px;
    /* 높이 지정 */
    text-align: center;
    margin: 0 auto;
}

.compare-button:hover,
.change-button:hover,
.attach-button:hover {
    background-color: #198f7a;
}

.tab-button:hover {
    background-color: #0056b3;
}

.provider-logo {
    width: 30px; /* 원하는 너비 */
    height: 30px; /* 원하는 높이 */
    object-fit: contain; /* 이미지 비율 유지 */
    margin-right: auto; /* 텍스트와 이미지 사이의 간격 */
    vertical-align: middle; /* 텍스트와 이미지 수직 정렬 */
}